{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h1>Wayanad</h1>
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'web:index' %}">Home</a></li>
                <li>About Wayanad</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

      <!--Professional Section-->
    <section class="tourist">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="image">
                        <img src="{% static 'images/wayanad4.jpg' %}" alt="" />
                    </div>
                </div>
                
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>About</h2>
                        <div class="text">Wayanad, known as the the green paradise is situated among the
                        mountains of the western ghats. Located at a distance of 76 kms
                        from kozhikode, this hill station is full of plantations, forest and wildlife.
                        Wayanad is also famous for its wide range of exotic products
                        including spices, coffee, tea, bamboo products, honey and herbal
                        plants available here. Loaded with mist - capped mountains, blue
                        water lakes, wild forests, resorts and homestays, Wayanad is known
                        for its zest ranches and natural life.<br>Wayanad district, characterised by its high altitude, provides
                        the right soil for the cultivation of perennial crops and spices.
                        As you travel through the district, you can watch the coffee,
                        tea, pepper, cardamom and rubber plantations sprawling
                        over the hills of the area.</div>                        
                    </div>
                </div>                
                
            </div>
        </div>  
    </section>
    <section class="tourist">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="image">
                        <img src="{% static 'images/wayanad1.jpg' %}" alt="" />
                    </div>
                </div>
                
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>Main Tourist Attractions</h2>
                        <div class="text">Wayanad also calls you to experience the stunning beauty of
                        Chembra peak, Kuruva Dweep, Pakshipathalam bird
                        sanctuary, Pazhassi Raja Tomb, Soochipara falls,Muthanga
                        wildlife Sanctuary, Karapuzha dam, Banasura Sagar dam etc.
                        wayanad has a salubrious climate; the mean average rainfall
                        in this district is 2322 m.m. Lakkidi, Vythiri and Mepppadi are
                        high rainfall areas in Wayanad The natural scenic beauty of
                        wayanad and its rich natural resources offer several
                        opportunities for adventure tourism.The hills, rocks and valleys
                        which make the very unique character of the region provide a
                        lot for catering to the ever increasing demand for adventure
                        tourists.
                         Wayanad district, characterised by its high altitude, provides
                        the right soil for the cultivation of perennial crops and spices.
                        As you travel through the district, you can watch the coffee,
                        tea, pepper, cardamom and rubber plantations sprawling
                        over the hills of the area.
                        </div>                                        
                    </div>
                </div>                
                
            </div>
        </div>       
                 
    </section>
    
    <!--Gallery Page Section-->
    <section class="blog-grid-section">
    	<div class="auto-container">
            <div class="header text-center">
                <h2>Places to Visit in Wayanad</h2>
            </div>
        	
            <div class="row clearfix mt-2">
            
            	<!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip1.webp' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Edakkal Caves</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Edakkal caves are well known for its pictorial depictions (cave art), which are thought to be of 6000 B C. To achieve the hollows, one needs to trek through the Ambukutty Mala. It will take around 45 minutes to climb the hill and you will never get baffled in your outing to these historical caves & it is one of the famous places to see in Wayanad.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip2.jpg' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Kuruva Island</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">A perfect blend of different natural colours makes Kuruva Island one of the best places to visit in Wayanad. It is a protected river delta with a number of islands over the middle of Kabini River, the famous east flowing river in Kerala.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip3.jpg' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Chembra Peak</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Looking for a weekend getaway this weekend, then head out to Wayanad and visit the famous Chembra Peak. Eight kilometres south of Kalpetta, close to the town of Meppady, lays the most elevated top in Wayanad. Chembra crest borders Nilgiri slopes in Tamil Nadu and Vallarimala in Kozhikode and it is one of the beautiful places to see in Wayanad.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip4.webp' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Banasura Sagar Dam</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">One of the major tourist places to visit in Wayanad is Banasura Sagar Dam that impounds the famous Karamanathodu tributary of the east flowing river in Kerala that is Kabini River. </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip5.webp' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Pookode Lake</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">When you visit Wayanad, a major hill station in Kerala, you should visit Pookode Lake which is considered to be one of the best places to visit in Wayanad.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip7.jpg' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Meenmutty Waterfalls</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Major attraction and one of the scenic Wayanad tourist places is Meenmutty Waterfalls located at a distance of around 29 kilometers from Kalpetta. It is a famous waterfall in the state of Kerala. A three tiered waterfall is a surprising sight to be visited.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip8.jpg' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Tholpetty Wildlife Sanctuary</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">If someone makes a list of all the places to visit in Wayanad, Tholpetty Wildlife Sanctuary would always be a sure thing on that list. Located in the lap of Wayanad and the Western Ghats, this region is famed for the variety of wildlife that one can experience here.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip9.jpg' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Bamboo Forests</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">What could be a better treat to your eyes than a vast greenery with a line of bamboos? All sounds amazing, right? The Nilgiri Biosphere Region additionally reaches out to an extensive extent of teak timberlands, bamboo trenches and overwhelms. A perfect safari area, deer, buffalo, cheetah and wild bears are among the spotted creatures here.</div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="#"><img src="{% static 'images/trip10.jpg' %}" alt="" /></a>
                        </div>
                        <div class="lower-content">
                        	<h3><a href="#">Lakkidi View Point</a></h3>
                            <div class="post-date">Post Time <span>10:00PM</span></div>
                            <div class="text">Lakkidi is the passage of Wayanad as it is situated at the peak of the serpentine Thamarassery ghat pass. There are nine clasp bends from Adivaram (Downhill) to Lakkidi through the mountains and a voyage through the serpentine ghat pass and it is one of the best  Wayanad tourist attractions. The lavish greenery of the slopes, chasms, and streams are seen on the two sides of the section up the slope are certain to wait in the guests' psyche for quite a while.</div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <!--Btn Box-->
            <div class="btn-box text-center">
            	<a href="#" class="theme-btn btn-style-two">Load More</a>
            </div>
            
        </div>
    </section>
    <!--End Gallery Page Section-->
    
{% endblock content %}