{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h1>About Us</h1>
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'web:index' %}">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Professional Section-->
    <section class="professional-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Image Column-->
                <div class="image-column col-md-6 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img src="{% static 'images/moonvillas/1.jpg' %}" alt="" />
                    </div>
                </div>
                
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>About Us</h2>
                        <div class="text">Moon Villas are budget friendly villas made affordable to people
                        for a better lifestyle at the heart and soul of Wayanad, Kalpetta.
                        This exclusive project is proudly presented by Moon Developers
                        in collaboration with Jay n Jay Hoarding Company pvt ltd and
                        Stylex Doors with a revolutionary thought of upgrading the life
                        style and living perspectives of people with budget friendly villas
                        without any compromise in quality of living as a social
                        responsibility and commitment towards the society.</div>                        
                    </div>
                </div>                
                
            </div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">    
                
                
                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12 ">
                    <div class="">
                        <h2>Our Vision</h2>
                        <div class="text">The vision of Moon Villas remains to
                        provide proper housing and vacation
                        experience to people at a very
                        affordable price and to construct a
                        happy living space for its customers
                        at Ponnada, 4kms away from Kalpetta
                        town</div>                        
                    </div>
                </div>                               
                
            </div>
        </div>
    </section>
    <!--End Professional Section-->  
    
   
    
    <!--Specialist Section-->
    <section class="specialist-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>What Our Specialities</h2>
                <div class="text">Lorem ipsum dolor amet af brunch subway tile authentic, chillwave put a <br> bird on it church-key try-hard ramps heirloom.</div>
            </div>
            <div class="row clearfix">
            	
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInLeft">
                    	<div class="icon-box">
                        	<span class="icon flaticon-house-2"></span>
                        </div>
                        <h3><a href="features.html">Apartment Sell</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInDown">
                    	<div class="icon-box">
                        	<span class="icon flaticon-rent"></span>
                        </div>
                        <h3><a href="features.html">Rent Facilities</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInRight">
                    	<div class="icon-box">
                        	<span class="icon flaticon-telemarketer"></span>
                        </div>
                        <h3><a href="features.html">Life Time Support</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInLeft">
                    	<div class="icon-box">
                        	<span class="icon flaticon-discount"></span>
                        </div>
                        <h3><a href="features.html">Reasonable Price</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInUp">
                    	<div class="icon-box">
                        	<span class="icon flaticon-gps"></span>
                        </div>
                        <h3><a href="features.html">Perfect Location</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Specialist Block-->
                <div class="specialist-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box wow fadeInRight">
                    	<div class="icon-box">
                        	<span class="icon flaticon-certification-award"></span>
                        </div>
                        <h3><a href="features.html">International License</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Specialist Section-->
    
 
    
   {% endblock content %}