{% extends 'web/base.html' %}
{% load static %}
{% block content %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h1>Property Features (Take a Tour)</h1>
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'web:index' %}">Home</a></li>
                <li>Features</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Services Section-->
    <section class="services-section">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInDown">
                        <div class="icon-box">
                            <span class="icon flaticon-house-2"></span>
                        </div>
                        <h3><a href="agents-single.html">Budget friendly villas</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInUp">
                        <div class="icon-box">
                            <span class="icon flaticon-paint-roller"></span>
                        </div>
                        <h3><a href="agents-single.html">Wildlife and Plantations</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInDown">
                        <div class="icon-box">
                            <span class="icon flaticon-award"></span>
                        </div>
                        <h3><a href="agents-single.html">High Level Sequrity</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInUp">
                        <div class="icon-box">
                            <span class="icon flaticon-dimension"></span>
                        </div>
                        <h3><a href="agents-single.html">Large Playground</a></h3>
                        <div class="text">Lorem ipsum dolor amet taiyaki keytar small batch offal lettumami gastropub cliche.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Services Section-->
    
    <!--Fluid Section Three-->
    <section class="fluid-section-three">
    	<div class="outer-container clearfix">
        	<!--Image Column-->
            <div class="image-column" style="background-image:url({% static 'images/moonvillas/9.jpg' %});">
            	<figure class="image-box">
                	<img src="{% static 'images/resource/image-3.jpg' %}" alt="">
                </figure>
            </div>
            
        	<!--Content Column-->
            <div class="content-column">
            	<div class="inner-box">
					
                    <!--Feature Tabs-->
                    <div class="feature-tabs tabs-box">
                    
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#tab-interior" class="tab-btn active-btn"><span class="number">1</span> Interior Design</li>
                            <li data-tab="#tab-exterior" class="tab-btn"><span class="number">2</span> Exterior Design</li>
                            <li data-tab="#tab-dimension" class="tab-btn"><span class="number">3</span> Room Dimensions</li>
                        </ul>
                        
                        <!--Tabs Container-->
                        <div class="tabs-content">
                            
                            <!--Tab / Active Tab-->
                            <div class="tab active-tab" id="tab-interior">
                                <div class="content">
                                    <h3>Property Features</h3>
                                    <div class="text">Man braid hell of edison bulb four loko taiyaki iPhone unicorn glossier echo park normcore vinyl tumblr. Meh distillery keytar, organic fam polaroid tilde irony neutra freegan hexagon intelligentsia fixie whatever green juice.</div>
                                    <div class="row clearfix">
                                        <ul class="list-style-five col-md-6 col-sm-6 col-xs-12">
                                            <li>Full Furnished</li>
                                            <li>Royal Touch Paint</li>
                                            <li>Neat & Clean Atmosphere</li>
                                            <li>Good Senery With Lage View </li>
                                        </ul>
                                        <ul class="list-style-five col-md-6 col-sm-6 col-xs-12">
                                            <li>Perfect Land</li>
                                            <li>Two Way Road</li>
                                            <li>Big Garden & Awesome View</li>
                                            <li>Full Protect Glass Effect</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Tab-->
                            <div class="tab" id="tab-exterior">
                                <div class="content">
                                    <h3>Property Features</h3>
                                    <div class="text">Man braid hell of edison bulb four loko taiyaki iPhone unicorn glossier echo park normcore vinyl tumblr. Meh distillery keytar, organic fam polaroid tilde irony neutra freegan hexagon intelligentsia fixie whatever green juice.</div>
                                    <div class="row clearfix">
                                        <ul class="list-style-five col-md-6 col-sm-6 col-xs-12">
                                            <li>Perfect Land</li>
                                            <li>Two Way Road</li>
                                            <li>Big Garden & Awesome View</li>
                                            <li>Full Protect Glass Effect</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Tab-->
                            <div class="tab" id="tab-dimension">
                                <div class="content">
                                    <h3>Property Features</h3>
                                    <div class="text">Man braid hell of edison bulb four loko taiyaki iPhone unicorn glossier echo park normcore vinyl tumblr. Meh distillery keytar, organic fam polaroid tilde irony neutra freegan hexagon intelligentsia fixie whatever green juice.</div>
                                    <div class="row clearfix">
                                        <ul class="list-style-five col-md-6 col-sm-6 col-xs-12">
                                            <li>Full Furnished</li>
                                            <li>Royal Touch Paint</li>
                                            <li>Neat & Clean Atmosphere</li>
                                            <li>Good Senery With Lage View </li>
                                        </ul>
                                        <ul class="list-style-five col-md-6 col-sm-6 col-xs-12">
                                            <li>Perfect Land</li>
                                            <li>Two Way Road</li>
                                            <li>Big Garden & Awesome View</li>
                                            <li>Full Protect Glass Effect</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--Fluid Section Three-->
    
    <!--Video Tour Section-->
    <section class="video-tour-section">
    	<div class="outer-container">
        	
            <div class="carousel-outer">

                <ul class="video-carousel owl-carousel owl-theme">
                    <li><a href="#" class="lightbox-image" data-fancybox="images" data-caption="" title="Image Caption Here"><img src="{% static 'images/resource/video-1.jpg' %}" alt=""></a></li>
                    <li><a href="#" class="lightbox-image" data-fancybox="images" data-caption="" title="Image Caption Here"><img src="{% static 'images/resource/video-1.jpg' %}" alt=""></a></li>
                    <li><a href="#" class="lightbox-image" data-fancybox="images" data-caption="" title="Image Caption Here"><img src="{% static 'images/resource/video-1.jpg' %}" alt=""></a></li>
                    <li><a href="#" class="lightbox-image" data-fancybox="images" data-caption="" title="Image Caption Here"><img src="{% static 'images/resource/video-1.jpg' %}" alt=""></a></li>
                    <li><a href="#" class="lightbox-image" data-fancybox="images" data-caption="" title="Image Caption Here"><img src="{% static 'images/resource/video-1.jpg' %}" alt=""></a></li>
                    <li><a href="#" class="lightbox-image" data-fancybox="images" data-caption="" title="Image Caption Here"><img src="{% static 'images/resource/video-1.jpg' %}" alt=""></a></li>
                    <li><a href="#" class="lightbox-image" data-fancybox="images" data-caption="" title="Image Caption Here"><img src="{% static 'images/resource/video-1.jpg' %}" alt=""></a></li>
                    <li><a href="#" class="lightbox-image" data-fancybox="images" data-caption="" title="Image Caption Here"><img src="{% static 'images/resource/video-1.jpg' %}" alt=""></a></li>
                </ul>
                
                <ul class="video-thumbs-carousel owl-carousel owl-theme">
                    <li><img src="{% static 'images/resource/video-2.jpg' %}" alt=""></li>
                    <li><img src="{% static 'images/resource/video-3.jpg' %}" alt=""></li>
                    <li><img src="{% static 'images/resource/video-4.jpg' %}" alt=""></li>
                    <li><img src="{% static 'images/resource/video-5.jpg' %}" alt=""></li>
                    <li><img src="{% static 'images/resource/video-2.jpg' %}" alt=""></li>
                    <li><img src="{% static 'images/resource/video-3.jpg' %}" alt=""></li>
                    <li><img src="{% static 'images/resource/video-4.jpg' %}" alt=""></li>
                    <li><img src="{% static 'images/resource/video-5.jpg' %}" alt=""></li>
                </ul>
                
            </div>
            
        </div>
    </section>
    <!--End Video Tour Section-->
    
   
    
    <!--Fluid Section Two-->
    <section class="fluid-section-two">
        <div class="outer-container clearfix">
            <!--Image Column-->
            <div class="map-column">
                <!--Map Canvas-->
                <div class="map-canvas"
                    data-zoom="12"
                    data-lat="-37.817085"
                    data-lng="144.955631"
                    data-type="roadmap"
                    data-hue="#ffc400"
                    data-title="Envato"
                    data-icon-path="{% static 'images/icons/map-marker.png' %}"
                    data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                </div>
            </div>
            <!--Content Column-->
            <div class="content-column">
                <div class="inner-box">
                    <h2>Distance From Important Places</h2>
                    <div class="text">Mumblecore pabst gochujang yuccie fingerstache, before they sold out cred mlkshk poutine af squid. Edison bulb cronut air plant pickled four loko vinyl. Tilde franzen sartorial, williamsburg vape keffiyeh man bun retro butcher. </div>
                    <div class="row clearfix">
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <ul class="list-style-four">
                                <li><span class="icon flaticon-transport"></span>Calicut Airport <strong>80Km</strong></li>
                                <li><span class="icon flaticon-transport"></span>Kannur Airport <strong>105.5Km</strong></li>
                                <li><span class="icon flaticon-resort"></span>Kalpetta Town <strong>0.2Km</strong></li>
                            </ul>
                        </div>
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <ul class="list-style-four">
                                <li><span class="icon flaticon-resort"></span>Ootty <strong>115km</strong></li>
                                <li><span class="icon flaticon-resort"></span>Mysore <strong>135km</strong></li>
                                <li><span class="icon flaticon-boat"></span>Pookkode Lake <strong>19km</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Fluid Section Two-->
    
    <!--Contact Section-->
    <section class="contact-section" style="background-image:url({% static 'images/background/1.jpg' %})">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-column">
                        <h2>Location Details</h2>
                        <ul>
                            <li><span>Address</span>Moon Villas, 68 Maniyan code, Munderi,Kalpatta, Wayanad Dist. Kerala 673112</li>
                            <li><span>Phone</span>+91 8845 252 727 <br>+91 8848255 322</li>
                            <li><span>Email</span>sales@moonvillas.in</li>
                            <li><span>Working Hour</span>Monday - Saturday <br> 9:00AM - 6:00PM</li>
                        </ul>
                    </div>
                </div>
                <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<h2>Contact With Us</h2>
                        <!--Default Form-->
                        <div class="default-form">
                            <form method="post" action="contact.html">
                                <div class="row clearfix">
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="text" value="" placeholder="Name" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="email" name="email" value="" placeholder="Email" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                        <textarea placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                        <button type="submit" class="theme-btn btn-style-one">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Default Form-->
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Contact Section-->
    
   {% endblock content %}