{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h1>Our Gallery Store</h1>
            <ul class="page-breadcrumb">
            	<li><a href="index.html">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Gallery Page Section-->
    <section class="gallery-page-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>Moon Villas Photos</h2>
            </div>
        
        	<!--MixitUp Galery-->
            <div class="mixitup-gallery">
                <div class="auto-container">
                    <!--Filter-->
                    <div class="filters text-center clearfix">
                        <ul class="filter-tabs filter-btns clearfix">
                            <li class="active filter" data-role="button" data-filter="all">All</li>
                            <li class="filter" data-role="button" data-filter=".bedroom">Bedroom</li>
                            <li class="filter" data-role="button" data-filter=".drawing">Drawing Room</li>
                            <li class="filter" data-role="button" data-filter=".living">Living Room</li>
                            <li class="filter" data-role="button" data-filter=".kitchen">Kitchen</li>
                            <li class="filter" data-role="button" data-filter=".garage">Garage</li>
                            <li class="filter" data-role="button" data-filter=".basement">Basement</li>
                        </ul>
                    </div>
                </div>
                
                <div class="filter-list row clearfix">
                    
                    <!--Gallery Block Five-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all basement">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/16.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/15.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block Five-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all bedroom">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/14.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/13.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block Five-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all drawing basement">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/12.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/11.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block Two-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all bedroom living basement">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/10.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/9.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block Two-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all kitchen garage">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/8.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/7.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block Two-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all garage living ">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/6.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/5.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block Two-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all drawing kitchen">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/4.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/3.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block Two-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all living kitchen">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/10.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/2.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                    <!--Gallery Block Two-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all drawing kitchen">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{% static 'images/moonvillas/1.jpg' %}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{% static 'images/moonvillas/41.jpg' %}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    
                </div>
            </div>
        
            <div class="btn-box text-center">
                <div class="btn-box">
                    <a href="blog-grid.html" class="theme-btn btn-style-two">Load More</a>
                </div>
            </div>
            
        </div>
    </section>
    <!--End Gallery Page Section-->
   {% endblock content %}