{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/moonvillas/10.jpg' %});background-position: bottom;">
    	<div class="auto-container">
        	<h1>Our Gallery Store</h1>
            <ul class="page-breadcrumb">
            	<li><a href="{% url 'web:index' %}">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Gallery Page Section-->
    <section class="gallery-page-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title centered">
            	<h2>Moon Villas Photos</h2>
            </div>
        
        	<!--MixitUp Galery-->
            <div class="mixitup-gallery">
                <div class="auto-container">
                    <!--Filter-->
                    <div class="filters text-center clearfix">
                        <ul class="filter-tabs filter-btns clearfix">
                            <li class="active filter" data-role="button" data-filter="all">All</li>
                            <li class="filter" data-role="button" data-filter=".bedroom">Bedroom</li>
                            <li class="filter" data-role="button" data-filter=".drawing">Drawing Room</li>
                            <li class="filter" data-role="button" data-filter=".living">Living Room</li>
                            <li class="filter" data-role="button" data-filter=".kitchen">Kitchen</li>
                            <li class="filter" data-role="button" data-filter=".garage">Garage</li>
                            <li class="filter" data-role="button" data-filter=".basement">Basement</li>
                        </ul>
                    </div>
                </div>
                
                <div class="filter-list row clearfix">
                    {% for gallery_data in all_gallery_images %}
                    
                    <!--Gallery Block Five-->
                    <div class="gallery-block-five col-md-4 col-sm-6 col-xs-12 mix all {% if gallery_data.category == 'bedroom' %}bedroom{% elif gallery_data.category == 'drawing' %}drawing{% elif gallery_data.category == 'living' %}living{% elif gallery_data.category == 'kitchen' %}kitchen{% elif gallery_data.category == 'garage' %}garage{% elif gallery_data.category == 'basement' %}basement{% endif %}">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="{{gallery_data.image.url}}" alt="">
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <a href="{{gallery_data.image.url}}" data-fancybox="images" data-caption="" class="link"><span class="icon flaticon-plus"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="btn-box text-center">
                <div class="btn-box">
                    <a href="#" class="theme-btn btn-style-two">Load More</a>
                </div>
            </div>
            
        </div>
    </section>
    <!--End Gallery Page Section-->
   {% endblock content %}