<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Moon Villas | Home</title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/revolution/css/settings.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
    <link href="{% static 'plugins/revolution/css/layers.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
    <link href="{% static 'plugins/revolution/css/navigation.css' %}" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/sweetalert.css' %}" rel="stylesheet" type="text/css" />

    <!--Color Switcher Mockup-->
    <link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header class="main-header style-v1">

        <!--Header Top-->
        <div class="header-top">
            <div class="outer-container">
                <div class="row clearfix">
                    <!--Top Left-->
                    <div class="top-left col-md-4 col-sm-12 col-xs-12">
                        <ul class="clearfix">
                            <li>Welcome to Moon Villas</li>
                        </ul>
                    </div>
                    <!--Top Right-->
                    <div class="top-right pull-right col-md-8 col-sm-12 col-xs-12">
                        <ul class="social-nav">
                            <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                        <ul class="list">
                            <li><span class="icon fa fa-phone"></span>(+91) 8845 252 727,8848255 322</li>
                            <li><a href="#"><span class="icon fa fa-envelope"></span>sales@moonvillas.in</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Box -->
        <div class="main-box">
            <div class="outer-container clearfix">
                <!--Logo Box-->
                <div class="top-logo logo-box">
                    <div class="logo"><a href="{% url 'web:index' %}"><img src="{% static 'images/new-logo.png' %}" alt=""></a></div>
                </div>

                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">

                                <li class="{{about}}"><a href="{% url 'web:index' %}">About</a></li>


                                <li class="{{gallery}}"><a href="{% url 'web:gallery' %}">Gallery</a></li>


                                <li class="{{wayanad}}"><a href="{% url 'web:about_wayanad' %}">About Wayanad</a></li>
                                <li class="{{contact}}"><a href="{% url 'web:contact' %}">Contact us</a></li>
                             </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <!--Options Box-->
                    <div class="options-box">
                        <ul class="options-nav">

                            <!--Search Box-->
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                    <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                        <li class="panel-outer">
                                            <div class="form-container">
                                                <form method="post" action="#">
                                                    <div class="form-group">
                                                        <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-btn hidden-bar-opener"><span class="flaticon-menu-button-of-three-lines"></span></li>
                        </ul>
                    </div>

                </div>
                <!--Nav Outer End-->

            </div>
        </div>

        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container">

                <div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box pull-left">
                        <div class="logo"><a href="index.html"><img src="{% static 'images/moon-logo.jpeg' %}" alt=""></a></div>
                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix nav-align">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">

                                    <li class="{{about}}"><a href="{% url 'web:index' %}">About</a></li>
                                    <li class="{{gallery}}"><a href="{% url 'web:gallery' %}">Gallery</a></li>


                                    <li class="{{wayanad}}"><a href="{% url 'web:about_wayanad' %}">About Wayanad</a></li>
                                    <li class="{{contact}}"><a href="{% url 'web:contact' %}">Contact us</a></li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                    </div>
                    <!--Nav Outer End-->

                </div>

            </div>
        </div>
        <!--End Sticky Header-->

    </header>
    <!--End Main Header -->

    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar right-align">

        <div class="hidden-bar-closer">
            <button><span class="flaticon-cancel-1"></span></button>
        </div>

        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">

            <div class="logo">
                <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="" /></a>
            </div>
            <div class="content-box">
                <h2>About Us</h2>
                <div class="text">Moon Villas are budget friendly villas made afordable to people
                for a better lifestyle at the heart and soul of Wayanad, Kalpetta Kerala.</div>
                <a href="#" class="theme-btn btn-style-two">Consultation</a>
            </div>
            <div class="contact-info">
                <h2>Contact us</h2>
                <ul class="list-style-six">
                    <li><span class="icon fa fa-map-marker"></span>Moon Villas, 68 Maniyan code, Munderi,Kalpatta, Wayanad Dist. Kerala 673112</li>
                    <li><span class="icon fa fa-phone"></span>(+91) 8845 252 727</li>
                    <li><span class="icon fa fa-envelope-o"></span>sales@moonvillas.in</li>
                    <li><span class="icon fa fa-clock-o"></span>Week Days: 09.00AM to 6.00PM <br> Sunday: Closed</li>
                </ul>
            </div>
        </div><!-- / Hidden Bar Wrapper -->

    </section>
    <!-- End / Hidden Bar -->
    <!--Main Slider-->
    <section class="main-slider">

        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>

                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{% static 'images/moonvillas/1.jpg' %}" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'images/moonvillas/2.jpg' %}">

                    <div class="tp-caption tp-resizeme"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['400','400','400','400']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['0','20','20','110']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                    </div>

                    </li>

                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{% static 'images/moonvillas/3.jpg' %}" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'images/moonvillas/4.jpg' %}">

                    <div class="tp-caption tp-resizeme"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['400','550','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['0','130','130','110']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                    </div>

                    </li>

                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{% static 'images/moonvillas/5.jpg' %}" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{% static 'images/moonvillas/6.jpg' %}">

                    <div class="tp-caption tp-resizeme"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['400','550','550','420']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['0','130','130','110']"
                    data-x="['right','right','right','right']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>

                    </div>

                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
    <!--  -->


    <!--About Section Two-->
    <section class="about-section-two">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Column-->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>About Moon Villas</h2>
                        <div class="text">Moon Villas are budget friendly villas made affordable to people
                        for a better lifestyle at the heart and soul of Wayanad, Kalpetta.
                        This exclusive project is proudly presented by Moon Developers
                        in collaboration with Jay n Jay Hoarding Company pvt ltd and
                        Stylex Doors with a revolutionary thought of upgrading the life
                        style and living perspectives of people with budget friendly villas
                        without any compromise in quality of living as a social
                        responsibility and commitment towards the society.</div>

                    </div>
                </div>


                <div class="video-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <!--Video Box-->
                        <div class="video-box wow fadeInRight">
                            <figure class="image">
                                <img src="{% static 'images/moonvillas/24.jpeg' %}" alt="">
                            </figure>
                            <a href="#" class="lightbox-image overlay-box"><span class="flaticon-play-button-1"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End About Section Two-->

    <!--Services Section-->
    <section class="services-section">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInDown">
                        <div class="icon-box">
                            <span class="icon flaticon-house-2"></span>
                        </div>
                        <h3><a href="agents-single.html">Budget friendly villas</a></h3>

                    </div>
                </div>

                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInUp">
                        <div class="icon-box">
                            <span class="icon flaticon-nature"></span>
                        </div>
                        <h3><a href="agents-single.html">Wildlife and Plantations</a></h3>
                    </div>
                </div>

                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInDown">
                        <div class="icon-box">
                            <span class="icon flaticon-location-pin"></span>
                        </div>
                        <h3><a href="agents-single.html">Prime Location</a></h3>
                    </div>
                </div>

                <!--Services Block-->
                <div class="services-block col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeInUp">
                        <div class="icon-box">
                            <span class="icon flaticon-users"></span>
                        </div>
                        <h3><a href="agents-single.html">Family Ambience</a></h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Services Section-->

    <!--Convenience Section-->
    <section class="convenience-section" style="background-image:url({% static 'images/moonvillas/9.jpg' %})">
        <div class="auto-container">
            <h2>Villas & Specs</h2>
            <div class="outer-container clearfix">
                <!--Content Column-->
                <div class="content-column">
                    <!--Convenience Info Tabs-->
                    <div class="convenience-info-tabs">
                        <!--Product Tabs-->
                        <div class="convenience-tabs tabs-box">

                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#tab-details" id="nav-1" class="nav-item tab-btn active-btn" >2 BHK Villa</li>
                                <li data-tab="#tab-interior" id="nav-2" class="nav-item tab-btn" >3 BHK Villa</li>
                            </ul>

                            <!--Tabs Container-->
                            <div class="tabs-content">

                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="tab-details"
>                                    <div class="content">
                                        <h3>2 BHK Villa Details</h3>
                                        <h4 style="font-weight: bold;">Ground Floor</h4>
                                        <div class="row clearfix">

                                            <ul class="list-style-three col-md-6 col-sm-6 col-xs-12">
                                                <li>Sit Out</li>
                                                <li>Living Area</li>
                                                <li>Dining Area</li>
                                                <li>Court Yard</li>
                                                <li>M.Kitchen</li>
                                                <li>2 Bedrooms</li>
                                                <li>2 Toilets</li>
                                            </ul>
                                            <ul class="list-style-three col-md-6 col-sm-6 col-xs-12">

                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <!--Tab-->
                                <div class="tab" id="tab-interior">
                                    <div class="content">
                                        <h3>3 BHK Villa Details</h3>
                                        <h4 style="font-weight: bold;">Ground Floor</h4>
                                        <div class="row clearfix">
                                            <ul class="list-style-three col-md-6 col-sm-6 col-xs-12">
                                                <li>Sit Out</li>
                                                <li>Living Area</li>
                                                <li>Dining Area</li>
                                                <li>Court Yard</li>
                                                <li>M.Kitchen</li>
                                                <li>2 Bedrooms</li>
                                                <li>2 Toilets</li>
                                            </ul>

                                            <ul class="list-style-three col-md-6 col-sm-6 col-xs-12">
                                                <h4 style="font-weight: bold;">First Floor</h4>
                                                   <li>Bedroom</li>
                                                <li>Toilet</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End Product Info Tabs-->
                </div>
                <!--Image Column-->
                <div class="image-column" id="BgImageTwo" style="background-image:url({% static 'images/moonvillas/26.jpeg' %})">

                </div>
                
                <div class="image-column" id="BgImageOne" style="background-image:url({% static 'images/moonvillas/22.jpeg' %})">

                </div>
               
            </div>
        </div>
    </section>
    <!--End Convenience Section-->



    <!--Plans Section-->
    <section class="plans-section">
        <div class="auto-container">
            <div class="plans-tab tabs-box">
                <div class="row clearfix">

                    <!--Tite column-->
                    <div class="title-column col-md-6 col-sm-12 col-xs-12">
                        <div class="inner-column">
                            <h2>Villas Plans</h2>
                            <div class="text">We have the best accessible facilities. We are serviceable to
everyone in the society in view of the fact of our feasibility,
availability and quality given equally to all.</div>
                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#first-floor" class="tab-btn active-btn">2 BHK Plan</li>
                                <li data-tab="#second-floor" class="tab-btn">3 BHK Plan</li>
                            </ul>
                        </div>
                    </div>

                    <!--Image column-->
                    <div class="image-column col-md-6 col-sm-12 col-xs-12">
                        <!--Tabs Container-->
                        <div class="tabs-content">

                            <!--Tab / Active Tab-->
                            <div class="tab active-tab" id="first-floor">
                                <div class="content">
                                    <div class="image cover-image">
                                        <img src="{% static 'images/villa2.jpg' %}" alt="" />
                                    </div>
                                </div>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="second-floor">
                                <div class="content">
                                    <div class="image">
                                        <img src="{% static 'images/villa3.jpg' %}" alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--End Plans Section-->

    <!--Fluid Section Two-->
    <section class="fluid-section-two">
        <div class="outer-container clearfix">
            <!--Image Column-->
            <div class="map-column">
                <!--Map Canvas-->
                <div class="map-canvas">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13144.573306481278!2d76.07214824043707!3d11.630117659791573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6735c3094b665%3A0x55c893b0cda2aaf9!2sManiyankode%2C%20Munderi%2C%20Kalpetta%2C%20Kerala!5e0!3m2!1sen!2sin!4v1642133577006!5m2!1sen!2sin" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <!--Content Column-->
            <div class="content-column">
                <div class="inner-box">
                    <h2>Distance From Important Places</h2>
                    <div class="text">Kalpetta town is a stone’s throw away from our villas where
everything for your needs are available. Health centres,
educational centres, malls and supermarkets. Kalpetta is also an
upcoming developing town where many new expansions are
coming up.</div>
                    <div class="row clearfix">
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <ul class="list-style-four">
                                <li><span class="icon flaticon-transport"></span>Calicut Airport <strong>80Km</strong></li>
                                <li><span class="icon flaticon-transport"></span>Kannur Airport <strong>105.5Km</strong></li>
                                <li><span class="icon flaticon-resort"></span>Kalpetta Town <strong>4.5Km</strong></li>
                            </ul>
                        </div>
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <ul class="list-style-four">
                                <li><span class="icon flaticon-resort"></span>Ootty <strong>115km</strong></li>
                                <li><span class="icon flaticon-resort"></span>Mysore <strong>135km</strong></li>
                                <li><span class="icon flaticon-boat"></span>Pookkode Lake <strong>19km</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Fluid Section Two-->



    <!--Call To Action Section-->
    <section class="call-to-action-section">
        <div class="auto-container">
            <div id="subscribe"class="row clearfix">
                <!--Logo Column-->
                <div class="logo-column col-md-3 col-sm-12 col-xs-12" >
                    <div class="logo">
                        <img src="{% static 'images/moon-logo.jpeg' %}" alt="" />
                    </div>
                </div>
                <!--Text Column-->
                <div class="text-column col-md-6 col-sm-12 col-xs-12">
                    <div class="text">Moon Villas are budget friendly villas made affordable to people for a better lifestyle at the heart and soul of Wayanad, Kalpetta. This exclusive project is proudly presented by Moon Developers in collaboration with Jay n Jay Hoarding Company pvt ltd and Stylex Doors with a revolutionary thought of upgrading the life style and living perspectives of people with budget friendly villas without any compromise in quality of living as a social responsibility and commitment towards the society.</div>
                </div>
                <!--Btn Column-->
                <div class="btn-column col-md-3 col-sm-12 col-xs-12">
                    <a href="{% url 'web:contact' %}" class="theme-btn btn-style-four">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action Section-->

    <!--Main Footer-->
    <footer class="main-footer">

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="row clearfix">
                <div class="column col-md-4 col-sm-12 col-xs-12">
                    <div class="copyright">Powered by | <a target="_blank" href="https://www.prospello.in/">Prospello</a> Tech</div>
                </div>
                <div class="nav-column col-md-6 col-sm-12 col-xs-12">
                    <ul class="footer-nav">
                        <li><a href="{% url 'web:index' %}">About</a></li>
                        <li><a href="{% url 'web:gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'web:about_wayanad' %}">Blog</a></li>
                        <li><a href="{% url 'web:contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>



<script src="{% static 'js/jquery.js' %}"></script>
<!--Revolution Slider-->
<script src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'plugins/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="{% static 'js/main-slider-script.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<a  class="whats-app" href="https://api.whatsapp.com/send?phone=918845252727&text=I'm%20interested%20in%20your%20Moon%20Villas%20Project." target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
</body>
</html>

