{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/5.jpg' %})">
    	<div class="auto-container">
        	<h1>Gallery Photos</h1>
            <ul class="page-breadcrumb">
            	<li><a href="index.html">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Gallery Single Section-->
    <section class="gallery-single-section">
    	<div class="auto-container">
            <!--Gallery Carousel Section-->
            <div class="gallery-carousel-section">
                
                <div class="gallery-single-carousel owl-carousel owl-theme">
                    <div class="slide">
                        <div class="image">
                            <img src="{% static 'images/moonvillas/12.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="slide">
                        <div class="image">
                            <img src="{% static 'images/moonvillas/10.jpg' %}" alt="" />
                        </div>
                    </div>
                    <div class="slide">
                        <div class="image">
                            <img src="{% static 'images/moonvillas/8.jpg' %}" alt="" />
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="lower-content">
            	<h2>Fabulous drawing room full square</h2>
                <div class="text">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet tempor tempor. Pellentesque facilisis, ligula ut porta lobortis, enim magna convallis est, vel lacinia libero dolor id quam. Etiam sagittis felis sapien, sed euismod orci sollicitudin nec. Vestibulum sagittis lacus augue, eget rutrum purus sagittis nec. Aenean ut rutrum dui. Duis sed mollis neque. Nullam nec orci nisl. Nullam pulvinar porttitor nisi, quis dapibus metus commodo nec. Etiam mollis quis felis quis dapibus. Praesent et nisi felis. In commodo eget elit id tincidunt. Integer id fermentum metus, nec dapibus nibh. Pellentesque vel viverra augue, vitae viverra orci. Donec sit amet eros sapien.</p>
                    <p>Pellentesque vitae venenatis mi. Quisque euismod mauris eget lorem mattis hendrerit. Ut nec urna eu sapien bibendum consectetur. Mauris placerat quis arcu in malesuada. Sed sodales dapibus ipsum non hendrerit. Sed cursus, lectus a eleifend eleifend, purus nibh facilisis erat, at gravida erat ex quis justo. Aliquam finibus ligula augue, id commodo urna consequat ac. Curabitur sollicitudin risus et tortor ornare porttitor. Donec rutrum risus neque, sodales congue magna convallis sed.</p>
                    <div class="list-info">
                    	<ul class="list-style-one clearfix">
                            <li class="col-md-4 col-sm-6 col-xs-12"><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                            <li class="col-md-4 col-sm-6 col-xs-12"><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                            <li class="col-md-4 col-sm-6 col-xs-12"><span class="icon flaticon-frame"></span>02 Glass windows</li>
                            <li class="col-md-4 col-sm-6 col-xs-12"><span class="icon flaticon-frame"></span>02 Glass windows</li>
                            <li class="col-md-4 col-sm-6 col-xs-12"><span class="icon flaticon-dimension"></span>Dimension 12,00 Sp.ft</li>
                            <li class="col-md-4 col-sm-6 col-xs-12"><span class="icon flaticon-sofa"></span>01 Sofa set & a Table</li>
                        </ul>
                    </div>
                    <p>Quisque odio arcu, consectetur at risus vel, maximus venenatis leo. Aenean blandit ex sed nisi tincidunt, nec feugiat est tempus. Suspendisse a facilisis metus, et pellentesque augue. Nunc vitae tristique magna. Nunc in dui blandit, maximus nulla ac, tempor ligula. Integer accumsan diam quis ultrices porta. Vivamus sodales turpis non commodo feugiat. Nulla sem mauris, tempus nec gravida a, sollicitudin eu justo. Nulla facilisi. Pellentesque neque justo, hendrerit efficitur consequat non, tempus sed odio. Morbi convallis mi interdum consectetur blandit. Nam quis velit malesuada urna semper faucibus.</p>
                </div>
            </div>
            
        </div>
        
    </section>
    <!--End Gallery Single Section-->
    
   {% endblock content %}